<style>

#brandbox:hover {
	animation-name: spring;
	animation-duration: 1s;
	animation-iteration-count: 3;
}

.brandbox:hover {
	animation-name: spring;
	animation-duration: 1s;
	animation-iteration-count: 3;
} 

@keyframes spring {
	100% {
		margin-bottom: 3px;
	}


}

</style>